/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/ec159349637c90ad-s.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/513657b02c5c193f-s.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/fd4db3eb5472fc27-s.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/51ed15f9841b9f9d-s.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/05a31a2ca4975f99-s.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/d6b16ce4a6175f26-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Inter_e66fe9';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/c9a5bc6a7c948fb0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Inter_Fallback_e66fe9';src: local("Arial");ascent-override: 90.20%;descent-override: 22.48%;line-gap-override: 0.00%;size-adjust: 107.40%
}.__className_e66fe9 {font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';font-style: normal
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0; padding: 0;border: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.gnb {
  width: 100%;
  height: 56px;
  background-color: #001E4C;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
}
h1 img{width: 100%;}
.gnb * {
  color: #fff;
  font-size: 16px;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 259px;
}

.Personal {
  width: 184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.alarm{
  position: relative;
}

.alarm::after  {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -6px;
  width: 4px;
  height: 4px;
  background-color: #EC5F50;
  border-radius: 50%;
}


.search-bar {
  width: 280px;
  height: 40px;
  border: 0.9px solid #222222;
  border-radius: 6px;
  position: relative;
  }

  .search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding-left: 10px;
  outline: none;
  }
  .search-bar button {
    width: 50px; height: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: transparent;
  }
  .search-bar button img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%)
  }

.blind{
  display: none !important;
}
.visible{
  display: block !important;
}

#pageBtn{
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  margin: 30px 0;
}
#pageBtn>*>*{
  display: block;
  width: 100% !important;
  height: 100% !important;
}
#pageBtn > div{
  margin: 10px;
  width: 20px;
  height: 20px;
}

.prev,.next{
  background: url(/_next/static/media/pageBtn.041600cd.png);
}
.dprev,.dnext{
  background: url(/_next/static/media/DpageBtn.png.f5237a2b.png);
}
.next,.dnext{
  transform: scaleX(-1);
}


.wrap{

  width: 80%;
  margin: auto;
}

/* list page */

.listTop{
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.listTop h2{font-size: 32px;}

.contentsBox{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  min-height: 300px;
  padding: 20px;
  position: relative;
  
}
.contentBox:hover{
  background-color: #eff0f3;
  transition: all 0.5s;
}

.contentBox{
  padding: 15px;
}
.contentTitle{
  width: 100%; 

  margin: 20px 0;
  font-size: 20px;
  font-weight: 400;
}
.contentDate{
  color: #707070;
}
.contentTitle > *{
  /* border: 1px solid #001E4C; */
  width: 100%;
  min-width: 10px;
  word-break:break-all;
}

#noContent{
font-size: 20px;
position: absolute;
top: 50%; left: 50%;
transform: translate(-50%, -50%);
}


/* 로딩박스 */
#lodingBox{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);


}

.dot-container {
  display: flex;

}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 7px;
}

.dot:nth-child(1) {
  background-color: #fff0e8; /* 첫 번째 색 */
  animation-name: colorChange1; 
  animation-duration: 0.8s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  animation-timing-function:cubic-bezier(.25,.72,.37,1); 
}

.dot:nth-child(2) {
  background-color: #fff0e8; /* 두 번째 색 */
  
 /* 애니메이션 효과 설정 */
  animation-name: colorChange2; 
  animation-duration: 0.8s; 
  animation-iteration-count: infinite; 
  animation-direction: alternate; 
  animation-timing-function :linear ; 
}

.dot:nth-child(3) {
    background-color:#fff0e8 ; /* 세 번째 색 */

   /* 애니메이션 효과 설정 */
   animation-name: colorChange3; 
   animation-duration: 0.8s; 
   animation-iteration-count: infinite; 
   animation-direction: alternate; 
   animation-timing-function: ease-in-out; 

 }
 @keyframes colorChange1 { 
  from {background-color:#fff0e8;}  
  to {background-color:#ff5900;}   
 }


@keyframes colorChange2 { 
 from {background-color:#fff0e8;} 
 to {background-color:#ff5900;}  
}


@keyframes colorChange3 { 
 from {background-color:#fff0e8;}  
 to {background-color:#ff5500;}      
}




/* 공지사항++++++++++++++++++++++++++++++++ */



.inner{
  width: 80%;
  margin: auto;
}
.detailtop{
  margin: 40px 0 0 0;
}
.detailtop > *{
  margin:  15px 0;
}
.detailtop h3{
  font-size: 32px;
  margin: 25px 0 15px 0;
}
.detailtop p{
  color: #707070;
}

.detailContentBox{
  min-height: 200px;
  padding: 30px 0;
  border-top: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
}
.detailBths{
  margin: 20px 0;
}
.detailBths button{

  margin-right: 10px;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
}
.detailBths button:nth-child(1){
  background-color: #fff;
  color: #000;
  border: 1px solid #dedede;
}
.detailBths button:nth-child(2){
  background-color: #FF5C00;
}
.detailBths button:nth-child(3){
  background-color: #FF0000;
}

/* 이거는 ... 토스트꺼  */
/* .scroll-sync{display: none !important;} */


.ck-editor__editable{min-height: 350px;}
.ck-powered-by a {display: none !important;}

.detailtop textarea{
  
  width: 100%;
  height: 150px;
  resize: none;
  border: 1px solid #000;
  border-radius: 6px;
  padding: 10px;
  font-size: 32px;
  word-break:break-all;
  
}





